In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import xmltodict

# Parse the .xml codebook

In [2]:
with open("../data/psid/simba.isr.umich.edu_downloads_J321540_codebook.xml", "r") as file:
    xml_text = file.read()
file.close()

In [3]:
codebook_dict = xmltodict.parse(xml_text)
codebook_dict = codebook_dict["CODEXML"]['LIST_JOBID']['JOBID']['LIST_VARIABLE']['VARIABLE']

In [4]:
codebook_df = pd.DataFrame(codebook_dict)
codebook_df

,YEAR,TYPE_ID,NAME,LABEL,QTEXT,ETEXT,LIST_CODE
0,2001,1,ER17001,RELEASE NUMBER,Release Number,"May 2008: Variables ER20395-ER20458, formerly...","{'CODE': [{'VALUE': '1', 'TEXT': 'Release numb..."
1,2001,1,ER17002,2001 FAMILY INTERVIEW (ID) NUMBER,2001 Interview Number,The values for this variable represent the 200...,"{'CODE': {'VALUE': '1 - 7,457', 'TEXT': 'Inter..."
2,2001,1,ER17004,PSID STATE OF RESIDENCE CODE,State of Residence,Please refer to PSID state codes here http://p...,"{'CODE': [{'VALUE': '1 - 51', 'TEXT': 'Actual ..."
3,2001,1,ER17022,1968 FAMILY IDENTIFIER,1968 Family Number (ID Number),This variable is the l968 family ID number. Th...,"{'CODE': [{'VALUE': '1 - 2,930', 'TEXT': 'Memb..."
4,2001,1,ER19161,G102 WTR ITEMIZE FOR TAX,G102. Some people have expenses they can itemi...,None,"{'CODE': [{'VALUE': '1', 'TEXT': 'Yes'}, {'VAL..."
...,...,...,...,...,...,...,...
104,2019,1,ER77069,M5 WTR DONATED TO ORGANIZATN FOR HEALTH,M5. (Not counting the donations you just told ...,None,"{'CODE': [{'VALUE': '1', 'TEXT': 'Yes'}, {'VAL..."
105,2019,1,ER77070,M5A DOLLAR AMT OF HEALTH DONATIONS,M5a. How much was that in 2018? (What was the...,None,"{'CODE': [{'VALUE': '1 - 99,996', 'TEXT': 'Act..."
106,2019,1,ER77448,TOTAL FAMILY INCOME-2018,Total 2018 Family Money Income,The income reported here was collected in 2019...,"{'CODE': [{'VALUE': '-999,997 - -1', 'TEXT': '..."
107,2019,1,ER77593,BEALE RURAL-URBAN CODE,2013 Beale-Ross Rural-Urban Continuum Code for...,This variable is suppressed (filled with zeroe...,"{'CODE': [{'VALUE': '1', 'TEXT': 'Metro - Coun..."
108,2019,1,ER77594,SIZE LARGEST CITY IN COUNTY,Size of the Largest City in County of Residence,This variable is suppressed (filled with zeroe...,"{'CODE': [{'VALUE': '1', 'TEXT': 'SMSA: larges..."

In [5]:
codebook_df.LABEL.unique()

array(['RELEASE NUMBER', '2001 FAMILY INTERVIEW (ID) NUMBER',
       'PSID STATE OF RESIDENCE CODE', '1968 FAMILY IDENTIFIER',
       'G102 WTR ITEMIZE FOR TAX',
       'G102A ITEMIZED CHARITABLE CONTRIB AMT',
       'T5 WTR DONATED TO ORGANIZATN FOR HEALTH',
       'T5A DOLLAR AMT OF HEALTH DONATIONS', 'BEALE RURAL-URBAN CODE',
       'SIZE LARGEST CITY IN COUNTY', 'TOTAL FAMILY INCOME-2000',
       '2003 FAMILY INTERVIEW (ID) NUMBER',
       'M5 WTR DONATED TO ORGANIZATN FOR HEALTH',
       'M5A DOLLAR AMT OF HEALTH DONATIONS',
       'TOTAL FAMILY INCOME LAST YEAR',
       '2005 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2004',
       '2007 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2006',
       '2009 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2008',
       '2011 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2010',
       '2013 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2012',
       '2015 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2014',
       '2017 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2016',
       '2019 FAMILY INTERVIEW (ID) NUMBER', 'TOTAL FAMILY INCOME-2018'],
      dtype=object)

In [6]:
def label_reorg_func(label:str):
    if "FAMILY INTERVIEW (ID) NUMBER" in label:
        return "FAMILY_INTERVIEW_(ID)_NUMBER"
    if "TOTAL FAMILY INCOME" in label:
        return "TOTAL_FAMILY_INCOME"
    if "WTR DONATED TO ORGANIZATN FOR HEALTH" in label:
        return "WTR_DONATED_TO_ORGANIZATN_FOR_HEALTH"
    if "DOLLAR AMT OF HEALTH DONATIONS" in label:
        return "DOLLAR_AMT_OF_HEALTH_DONATIONS"    
    return label.replace(" ", "_")

codebook_df["STANDARDIZED_LABEL"] = codebook_df.LABEL.apply(label_reorg_func)
codebook_df

,YEAR,TYPE_ID,NAME,LABEL,QTEXT,ETEXT,LIST_CODE,STANDARDIZED_LABEL
0,2001,1,ER17001,RELEASE NUMBER,Release Number,"May 2008: Variables ER20395-ER20458, formerly...","{'CODE': [{'VALUE': '1', 'TEXT': 'Release numb...",RELEASE_NUMBER
1,2001,1,ER17002,2001 FAMILY INTERVIEW (ID) NUMBER,2001 Interview Number,The values for this variable represent the 200...,"{'CODE': {'VALUE': '1 - 7,457', 'TEXT': 'Inter...",FAMILY_INTERVIEW_(ID)_NUMBER
2,2001,1,ER17004,PSID STATE OF RESIDENCE CODE,State of Residence,Please refer to PSID state codes here http://p...,"{'CODE': [{'VALUE': '1 - 51', 'TEXT': 'Actual ...",PSID_STATE_OF_RESIDENCE_CODE
3,2001,1,ER17022,1968 FAMILY IDENTIFIER,1968 Family Number (ID Number),This variable is the l968 family ID number. Th...,"{'CODE': [{'VALUE': '1 - 2,930', 'TEXT': 'Memb...",1968_FAMILY_IDENTIFIER
4,2001,1,ER19161,G102 WTR ITEMIZE FOR TAX,G102. Some people have expenses they can itemi...,None,"{'CODE': [{'VALUE': '1', 'TEXT': 'Yes'}, {'VAL...",G102_WTR_ITEMIZE_FOR_TAX
...,...,...,...,...,...,...,...,...
104,2019,1,ER77069,M5 WTR DONATED TO ORGANIZATN FOR HEALTH,M5. (Not counting the donations you just told ...,None,"{'CODE': [{'VALUE': '1', 'TEXT': 'Yes'}, {'VAL...",WTR_DONATED_TO_ORGANIZATN_FOR_HEALTH
105,2019,1,ER77070,M5A DOLLAR AMT OF HEALTH DONATIONS,M5a. How much was that in 2018? (What was the...,None,"{'CODE': [{'VALUE': '1 - 99,996', 'TEXT': 'Act...",DOLLAR_AMT_OF_HEALTH_DONATIONS
106,2019,1,ER77448,TOTAL FAMILY INCOME-2018,Total 2018 Family Money Income,The income reported here was collected in 2019...,"{'CODE': [{'VALUE': '-999,997 - -1', 'TEXT': '...",TOTAL_FAMILY_INCOME
107,2019,1,ER77593,BEALE RURAL-URBAN CODE,2013 Beale-Ross Rural-Urban Continuum Code for...,This variable is suppressed (filled with zeroe...,"{'CODE': [{'VALUE': '1', 'TEXT': 'Metro - Coun...",BEALE_RURAL-URBAN_CODE
108,2019,1,ER77594,SIZE LARGEST CITY IN COUNTY,Size of the Largest City in County of Residence,This variable is suppressed (filled with zeroe...,"{'CODE': [{'VALUE': '1', 'TEXT': 'SMSA: larges...",SIZE_LARGEST_CITY_IN_COUNTY

In [7]:
codebook_df.STANDARDIZED_LABEL.unique()

array(['RELEASE_NUMBER', 'FAMILY_INTERVIEW_(ID)_NUMBER',
       'PSID_STATE_OF_RESIDENCE_CODE', '1968_FAMILY_IDENTIFIER',
       'G102_WTR_ITEMIZE_FOR_TAX',
       'G102A_ITEMIZED_CHARITABLE_CONTRIB_AMT',
       'WTR_DONATED_TO_ORGANIZATN_FOR_HEALTH',
       'DOLLAR_AMT_OF_HEALTH_DONATIONS', 'BEALE_RURAL-URBAN_CODE',
       'SIZE_LARGEST_CITY_IN_COUNTY', 'TOTAL_FAMILY_INCOME'], dtype=object)

In [8]:
code_mapping_dict_year = codebook_df.set_index("NAME").YEAR.to_dict()
code_mapping_dict_stdlab = codebook_df.set_index("NAME").STANDARDIZED_LABEL.to_dict()

# Wrangle .csv for analysis

In [9]:
# This line does NOT work because the .xlsx is encoded with "synchVertical" rather than "syncVertical",
# and oepnpyxl does not support synchVertical.
# Current solution: use local MS Excel to export data manually to a .csv

# psid_raw = pd.read_excel("../data/psid/J321540.xlsx", sheet_name="Data")

psid_raw = pd.read_csv("../data/psid/J321540.csv")
psid_raw

,ER17001,ER17002,ER17004,ER17022,ER19161,ER19162,ER20064,ER20065,ER20377,ER20378,...,ER72002,ER72003,ER72009,ER73779,ER73780,ER77069,ER77070,ER77448,ER77593,ER77594
0,6.0,96.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.0,5987.0,41.0,4.0,1.0,5000.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4574.0,41.0,4.0,5.0,0.0,5.0,0.0,11028.0,0.0,0.0
3,6.0,7091.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,...,8597.0,41.0,4.0,5.0,0.0,0.0,0.0,60970.0,0.0,0.0
4,6.0,5964.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3850.0,48.0,6872.0,1.0,0.0,0.0,0.0,97000.0,0.0,0.0
17036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3682.0,12.0,6872.0,5.0,0.0,0.0,0.0,147800.0,0.0,0.0

In [10]:
# stash each year's income, contribution, etc. into same columns.
# Strategy: map each var's year and label in codebook and do a groupby

psid_year_grouped = psid_raw.groupby(by = code_mapping_dict_year, axis=1)
psid_processed = pd.concat([psid_year.rename(columns=code_mapping_dict_stdlab).assign(YEAR = year) for year, psid_year in psid_year_grouped], axis=0)

# this cannot be used as is because families missing certain
# years of interviews are still kept in the original .csv with
# a value of nan in the year's variables
psid_processed

,RELEASE_NUMBER,FAMILY_INTERVIEW_(ID)_NUMBER,PSID_STATE_OF_RESIDENCE_CODE,1968_FAMILY_IDENTIFIER,G102_WTR_ITEMIZE_FOR_TAX,G102A_ITEMIZED_CHARITABLE_CONTRIB_AMT,WTR_DONATED_TO_ORGANIZATN_FOR_HEALTH,DOLLAR_AMT_OF_HEALTH_DONATIONS,BEALE_RURAL-URBAN_CODE,SIZE_LARGEST_CITY_IN_COUNTY,TOTAL_FAMILY_INCOME,YEAR
0,6.0,96.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,50880.0,2001
1,6.0,5987.0,41.0,4.0,1.0,5000.0,5.0,0.0,0.0,0.0,50000.0,2001
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001
3,6.0,7091.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,55616.0,2001
4,6.0,5964.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,33760.0,2001
...,...,...,...,...,...,...,...,...,...,...,...,...
17034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
17035,1.0,3850.0,48.0,6872.0,1.0,0.0,0.0,0.0,0.0,0.0,97000.0,2019
17036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
17037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
17038,1.0,3682.0,12.0,6872.0,5.0,0.0,0.0,0.0,0.0,0.0,147800.0,2019

In [11]:
# rempve meaningless rows (or, placeholders in the original wide data)
psid_processed = psid_processed[~psid_processed.PSID_STATE_OF_RESIDENCE_CODE.isna()]  # using state here just because we will need this info
psid_processed

,RELEASE_NUMBER,FAMILY_INTERVIEW_(ID)_NUMBER,PSID_STATE_OF_RESIDENCE_CODE,1968_FAMILY_IDENTIFIER,G102_WTR_ITEMIZE_FOR_TAX,G102A_ITEMIZED_CHARITABLE_CONTRIB_AMT,WTR_DONATED_TO_ORGANIZATN_FOR_HEALTH,DOLLAR_AMT_OF_HEALTH_DONATIONS,BEALE_RURAL-URBAN_CODE,SIZE_LARGEST_CITY_IN_COUNTY,TOTAL_FAMILY_INCOME,YEAR
0,6.0,96.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,50880.0,2001
1,6.0,5987.0,41.0,4.0,1.0,5000.0,5.0,0.0,0.0,0.0,50000.0,2001
3,6.0,7091.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,55616.0,2001
4,6.0,5964.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,33760.0,2001
6,6.0,5479.0,41.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,27000.0,2001
...,...,...,...,...,...,...,...,...,...,...,...,...
17030,1.0,3743.0,12.0,6872.0,5.0,0.0,0.0,0.0,0.0,0.0,7518.0,2019
17031,1.0,3631.0,12.0,6872.0,5.0,0.0,0.0,0.0,0.0,0.0,103080.0,2019
17032,1.0,3734.0,10.0,6872.0,5.0,0.0,0.0,0.0,0.0,0.0,38000.0,2019
17035,1.0,3850.0,48.0,6872.0,1.0,0.0,0.0,0.0,0.0,0.0,97000.0,2019
17038,1.0,3682.0,12.0,6872.0,5.0,0.0,0.0,0.0,0.0,0.0,147800.0,2019

In [12]:
psid_processed.YEAR.value_counts()

2017    9607
2019    9569
2013    9063
2015    9048
2011    8907
2009    8690
2007    8289
2005    8002
2003    7822
2001    7406
Name: YEAR, dtype: int64

In [13]:
psid_processed.to_csv("../data/psid/psid_processed.csv")